.title{
  text-align: center;
}
body{
  background:#d6cbd3;
  color: white;
  margin: 0px;
}
.tabs{
  background: #cac2c8;
  overflow: hidden;
}
.button{
  background: #a2b9bc;
  color:  white;
  border: 1px solid white;
  padding: 1px;
  border-radius: none;
  transition: .9s;
}
button:hover{
  background: #898b8f;
  padding: 5px;
}
