.title{
  text-align: center;
}
.content{
  display: flex;
  justify-content: space-evenly;
}
.box{
  height: 50px;
  width: 50px;
  border: 2px solid red;
}
body{
  background: black;
  color: gray;
}
